<div class="product__headline {{ classes }} v-pr-price-center" {{ block.shopify_attributes }}>
  {% if block.settings.product_show_vendor %}
    <div class="product__subheading">
      <p>
        <a href="{{ _product.vendor | url_for_vendor }}">{{ _product.vendor }}</a>
      </p>
    </div>
  {% endif %}
 

  {%- if product.metafields.theme.cutline != blank and product.metafields.theme.cutline.type == 'single_line_text_field' -%}
    <p class="product__cutline">{{ product.metafields.theme.cutline.value }}</p>
  {%- endif -%}

  <div class="product__price__wrap v-pr-price-center">
    <div class="product__price__main re" data-price-wrapper>
      <span class="product__price">
        <span data-product-price {% if current_variant.compare_at_price > current_variant.price %} class="product__price--sale"{% endif %}>
          {{ current_variant.price | money }}
        </span>
      </span>

      <span data-price-off class="product__price--off hide">
        <span data-price-off-type>Discount!</span>
        <em>•</em>
        {{ 'products.product.save' | t }}
        <span data-price-off-amount></span>
      </span>

      {% liquid
        assign units = _product.variants | map: 'unit_price'
        if units[0]
          assign has_units = true
        else
          assign has_units = false
        endif 
      %}
      {% if has_units %}
        {% capture show_units %}
          {%- unless current_variant.unit_price -%}style="display: none;"{%- endunless -%}
        {% endcapture %}
        {% capture unit_price_separator %}
          <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
        {% endcapture %}
        {% capture unit_price_base_unit %}
          <span>
            {% if current_variant.unit_price_measurement %}
              {% if current_variant.unit_price_measurement.reference_value != 1 %}
                {{ current_variant.unit_price_measurement.reference_value }}
              {%- endif -%}
              {{ current_variant.unit_price_measurement.reference_unit }}
            {% endif %}
          </span>
        {% endcapture %}
        <div class="product__price--unit">
          <span data-product-unit {{ show_units }}>
            <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
            <span data-product-unit-price id="unit-price-{{ block.id }}">{{ current_variant.unit_price | money }}</span>
            {{ unit_price_separator }}
            <span data-product-base id="unit-price-base-{{ block.id }}">{{ unit_price_base_unit }}</span>
          </span>
          <span data-price-each class="hide">
            {{ 'products.product.each' | t }}
            <span data-price-each-amount></span>
          </span>
        </div>
      {% endif %}
    </div>
  </div>
  
</div>

<script>
  $(document).load(function() {
    setInterval(function(){
      $('.product__price__wrap').eq(2).hide();
      $('.v-linkers').eq(1).hide();
    });
  });
</script>